
body {
    width: 50%;
    height: 100%;
    padding: 50px;;
    text-align: center;
    background-image: url('4.jpg');
    background-repeat: no-repeat scroll left center;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -65px;

}

/* Index page */

.container {
    height: 550px;
    max-width: 800px;
    /*background: #A8EF1B; */
    border-radius: 20px;
    position: relative;
}

.highlight {
    color:red;
    font-weight: bold;
    font-size: 80px;

}
.highlight1 {
    color:#4DC408;
    font-weight: bold;
    font-size: 100px;
    font-style: italic;
}


h3 {
    color: #F70B0B;
    font-size: 40px;
    text-shadow: 2px 2px #ff0000; 
}
h4 {
    color: #0515A5;
    font-size: 30px;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
}

.button { 
    vertical-align: middle;
    position: relative;
    margin-top: 160px;
}

.btn:hover {
    background: #4DC408;
}
.btn{
    border:1px solid white;
    border-radius: 25px;
    padding:10px 80px;
    color:white;
    text-decoration: none;
    margin-right:5px;
    font-size:13px;
    background-color: #314AC9;
    font-family:sans-serif;
}

/* sign up page */

